bioinformatics_freecodecamp/*
!bioinformatics_freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_2_Acetylcholinesterase_Exploratory_Data_Analysis.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_3_Acetylcholinesterase_Descriptor_Dataset_Preparation.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_4_Acetylcholinesterase_Regression_Random_Forest.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_5_Acetylcholinesterase_Compare_Regressors.ipynb
!bioinformatics_freecodecamp/bioactivity_prediction_app.ipynb
__pycache__/
*.pyc
*.ipynb_checkpoints
.DS_Store

# Extra files that should not be tracked
filter_mantamonis.py
Mantamonis_bacterial_contamination_analysis.xlsx
plot_lab3.py
filtered_mantamonis.csv
anaconda_projects/
Bioinformtics/



