bioinformatics_freecodecamp/*
!bioinformatics_freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
__pycache__/
*.pyc
*.ipynb_checkpoints
.DS_Store

# Extra files that should not be tracked
filter_mantamonis.py
Mantamonis_bacterial_contamination_analysis.xlsx
plot_lab3.py
filtered_mantamonis.csv
anaconda_projects/
Bioinformtics/



